
.carousel-caption {
    bottom: 80px;
    bottom: 35%;
}

.carousel-item {
    position: relative;

    .image-bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
}

    .btn-outline-light {
        &:hover {
            color: $primary;
            background-color: rgba(255, 255, 255, 0.2)!important;
        }
    }

.nav-link {
    font-size: 1.2rem;;
}